<!DOCTYPE html>
<html>
  <head>
    <title>Blog API!</title>
    <meta name="description" content="Blog API Continuous Integration Test">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Hello world!</h1>
  </body>
</html>
